<p>
    <strong>Title:</strong>
    <%= @todo.title %>
</p>

<p>
    <strong>priority:</string>
    <%= @todo.priority %>
</p>

<p>
    <strong>duedate:</string>
    <%= @todo.duedate %>
</p>

<%= link_to 'Back', todo_index_path %>